<div class="m-1 text-center">
    <div>
        <img src="static/media/styles/logo/logo_banner_in_dark.webp" alt="logo" width="75%">
        <p class="cs-color-GoldenYellow text-center m-auto" style="font-weight: bold; margin-top: -1.5rem;">
            ¡La estrategia es la clave!
        </p><br>
        <p class="cs-color-GoldenYellow">"Comunidad y Estrategia para Clash Royale"</p>
        <p>Clash Strategic es una comunidad apasionada dedicada a los jugadores de Clash Royale. Ofrecemos herramientas avanzadas de análisis de mazos, creación de mazos personalizados y recursos exclusivos para ayudarte a mejorar tus habilidades y alcanzar nuevas alturas en el juego.</p>
    </div><br><br><br>

    <div>
        <h3 class="cs-color-GoldenYellow">¡Nuestra Misión!</h3>
        <img id="img_mision" src="./static/media/styles/icons/icon_mision.webp" alt="nuestra mision">
        <p>En Clash Strategic, nuestra misión es ayudarte a mejorar en Clash Royale. Creamos una comunidad para
            compartir experiencias y ofrecemos herramientas y recursos para perfeccionar tus estrategias y ser más
            competitivo.</p>
    </div><br><br><br>

    <div>
        <h3 class="cs-color-GoldenYellow">¡Nuestra Visión!</h3>
        <!-- <img id="img_vision" src="./static/media/styles/icons/icon_vision.webp" alt="nuestra vision"> -->
        <p>Nuestra visión es crear una gran comunidad de apasionados por Clash Royale, donde jugadores de todo el mundo
            puedan conectarse, aprender y crecer juntos.</p>
    </div><br><br><br>
</div>