<div class="text-center">
    <div>
        <img class="flex m-a" src="./static/media/styles/logo/logo_banner_in_dark.webp" width="100%" alt="Logo Banner">
        <p class="cs-color-GoldenYellow text-center" style="margin-top: -1.5rem;">"¡La estrategia es la clave!"</p>
        <br>
        <p>Comunidad y Estrategia para Clash Royale</p>
        <p>Clash Strategic es una comunidad apasionada dedicada a los jugadores de Clash Royale. Ofrecemos herramientas avanzadas de análisis de mazos, creación de mazos personalizados y recursos exclusivos para ayudarte a mejorar tus habilidades y alcanzar nuevas alturas en el juego.</p>
    </div><br><br>
    <div>
        <h1 class="cs-color-GoldenYellow">¡Domina Clash Royale con Clash Strategic!</h2>
            <img class="flex m-a" src="./static/media/styles/modal/reyes_bienvenida.webp" width="65%"
                alt="reyes_bienvenida">
            <p class="text-center">Únete a la comunidad de Clash Strategic y descubre herramientas exclusivas para
                llevar tus habilidades en Clash Royale al siguiente nivel. Domina el juego y mejora tu estrategia
                con nosotros.</p>
            <button class="btn_pre_reg" onclick="Config.renderTemplate('SignUpView').then((result) => {
                showDivToggle('loadContent', 'Crear Cuenta', result);
            });">
                ¡Unirme a la comunidad!</button>
            <p class="cs-color-GoldenYellow text-center">¡Recibe 1000 monedas y 100 gemas GRATIS para comenzar tu
                aventura en Clash Strategic!</p>
    </div>
</div>
<br><br>