#div_modal {
    background: var(--cs-color-DeepBlue);
    background-size: 4em 4em;
    text-align: center;
    position: fixed;
    width: 90%;
    height: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--cs-color-LightGrey);
    box-shadow: 0px 0px 20px var(--cs-color-DeepBlue);
    z-index: 100;
}

#img_mod {
    width: 75%;
    height: auto;
}

#conten_modal {
    overflow: auto;
    margin: 0.5em;
    height: 95%;
}

#btn_mod {
    position: absolute;
    background: var(--cs-color-GoldenYellow);
    width: 4em;
    height: 2.5em;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%);
}