.cs-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

.cs-table th,
.cs-table td {
    padding: 0.25rem;
    word-break: break-word;
}

.cs-table caption {
    font-size: var(--fs-xxx-medium);
    margin: 0.5rem auto;
}